<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/about.css'%}">
</head>
<body>
<div class="abt">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <tr>
                        <td class="vs">Vision</td>
                    </tr>
                    <tr>
                        <td>To be the most preferred and trusted bank enhancing value for all stakeholders.</td>
                    </tr>
                </table>
                <table class="table">
                    <tr>
                        <td class="vs">Mission</td>
                    </tr>
                    <tr>
                        <td>Delighting customers with our excellent service and comprehensive suite of best-in-class financial solutions;</td>

                    </tr>
                    <tr>
                        <td>Touching more people's lives with our expanding retail footprint while maintaining our excellence on corporate and infrastructure financing;</td>

                    </tr>
                    <tr>
                        <td>Continuing to act in an ethical, transparent and responsible manner, becoming the role model for corporate governance;</td>

                    </tr>
                    <tr>
                        <td>Deploying world class technology, systems and processes to improve business efficiency and exceed customer’s expectations;</td>
                    </tr>
                    <tr>
                        <td>Encouraging a positive, dynamic and performance-driven work culture to nurture employees grow them and build a passionate and committed work force;</td>

                    </tr>
                    <tr>
                        <td>Expanding our global presence;</td>
                    </tr>
                    <tr>
                        <td>Relentlessly striving to become a greener bank.</td>
                    </tr>
                </table>
                <a href="{%url 'index'%}" class="btn btn-outline-primary">Back</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>